@import "settings";
@import "../../bower_components/foundation/scss/foundation";

.hero {
    max-width: 100%;
    margin-bottom: .75rem;
    padding: 2rem 0;
    background-color: #eee;
    text-align: center;
}

.footer {
    margin-top: 2rem;
    padding: 0.5rem 0;
    background-color: #333333;
    color: white;
    font-size: 75%;
}
